.card__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.card__info {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  color: var(--blue);
}
.card__info-item {
  margin: 0.5rem 0;
  width: 40%;
  font-size: 0.8rem;
}
.fa-map-marker-alt {
  color: var(--blue);
}

@media (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1124px) {
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
